.approach-work {
    background-color: var(--main-text-color);
    padding-top: 60px;
    padding-bottom: 70px;
}

.approach-work h2 {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--font-size-h2);
    font-weight: var(--text-font-weight);
    line-height: 60px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #1c1c1c, 1px -1px 0 #1c1c1c, -1px 1px 0 #1c1c1c, -1px -1px 0 #1c1c1c, 1px 0px 0 #1c1c1c, 0px 1px 0 #1c1c1c, -1px 0px 0 #1c1c1c, 0px -1px 0 #1c1c1c;
}

.approach-work h3 {
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: var(--font-size-h2);
    font-weight: var(--text-font-weight);
    line-height: 60px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.approach-work__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    padding-top: 40px;
}

.approach-work-info {
    flex: 1 0 30%;
}

.approach-work-info h4 {
    font-family: var(--main-font-family);
    font-weight: var(--text-font-weight);
    font-size: var(--medium-font-size);
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 0.1em;
}

.approach-work-info p {
    font-family: var(--main-font-family);
    font-weight: var(--text-normal-font-weight);
    font-size: var(--normal-font-size);
    text-transform: inherit;
    line-height: 22px;
    letter-spacing: 0.05em;
    padding-top: 10px;
}


@media screen and (max-width: 768px) {
    .approach-work {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .approach-work-info {
        flex: 1 0 40%;
    }
}

@media screen and (max-width : 320px) {
    .approach-work {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .approach-work h2 {
        font-size: var(--mobile-font-size-title);
        line-height: var(--mobile-font-height-title);
    }

    .approach-work h3 {
        font-size: var(--mobile-font-size-title);
        line-height: var(--mobile-font-height-title);
    }

    .approach-work__main {
        flex-direction: column;
    }

    .approach-work-info p {
        letter-spacing: normal;
    }
}
