.client-communication {
    background-color: var(--main-text-color);
    padding-top: 60px;
    padding-bottom: 40px;
}

.client-communication h2 {
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: var(--mask-effect-font-size);
    font-weight: var(--text-font-weight);
    line-height: 50px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.client-communication h3 {
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: var(--mask-effect-font-size);
    font-weight: var(--text-font-weight);
    line-height: 50px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.client-communication__main {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.client-communication__info,
.client-communication__form {
    flex: 1 0 46%;
}

.client-communication__info p {
    font-family: var(--main-font-family);
    font-weight: var(--text-normal-font-weight);
    font-size: var(--normal-font-size);
    line-height: 22px;
    letter-spacing: 0.1em;
}

.client-communication__info a {
    text-decoration: none;
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: var(--normal-font-size);
    font-weight: var(--text-statictic-font-weight);
    line-height: 22px;
}

.client-communication__info a:hover {
    color: var(--main-background);
    border: none;
    cursor: pointer;
}

.communication__social-list {
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: nowrap;
    text-align: start;
}

.social__media {
    padding: 25px 0px;
}

.communication__social {
    display: flex;
}

.communication__social-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.communication__social-link svg {
    fill: var(--main-background-color);
}

.communication__social-link svg:hover {
    fill: var(--main-background);
}

.client-communication__form h5 {
    font-family: var(--main-font-family);
    font-weight: var(--text-statictic-font-weight);
    font-size: var(--normal-font-size);
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.contact-form {
    display: grid;
}

input[type='text'],
input[type='tel'] {
    box-sizing: border-box;
    margin: 0px 0px 14px 0px;
    padding: 10px;
    font-family: var(--main-font-family);
    font-size: var(--normal-font-size);
    font-weight: var(--text-normal-font-weight);
    line-height: 16px;
    border-bottom: 1px solid #1c1c1c;
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--main-background-color);
    background: transparent;
}

input[type='text']:focus,
input[type='tel']:focus {
    outline: none !important;
    border-color: var(--main-background);
    box-shadow: 0 0 5px var(--main-background);
}

textarea {
    border: 1px solid #ededed;
    box-sizing: border-box;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    font-family: var(--main-font-family);
    font-size: var(--normal-font-size);
    font-weight: var(--text-normal-font-weight);
    line-height: 16px;
    border-bottom: 1px solid #1c1c1c;
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--main-background-color);
    background: transparent;
    resize: none;
}

textarea:focus {
    outline: none !important;
    border-color: var(--main-background);
    box-shadow: 0 0 5px var(--main-background);
}

.btn-send {
    height: 40px;
    width: 180px;
    text-decoration: none;
    margin: auto;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-weight: var(--text-normal-font-weight);
    font-size: var(--main-font-size);
    line-height: 22px;
    letter-spacing: 0.1em;
    border-radius: 30px;
}

.btn-send:hover {
    background: var(--main-background);
    color: var(--main-background-color);
    border: none;
    cursor: pointer;
}

.privacy-notice {
    font-family: var(--main-font-family);
    font-weight: var(--text-normal-font-weight);
    font-size: 14px;
}