.feedback-section {
    background-color: var(--main-background-color);
    padding-top: 65px;
}

.feedback-section h2 {
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: var(--font-size-h2);
    font-weight: var(--text-font-weight);
    line-height: 70px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #ededed, 1px -1px 0 #ededed, -1px 1px 0 #ededed, -1px -1px 0 #ededed, 1px 0px 0 #ededed, 0px 1px 0 #ededed, -1px 0px 0 #ededed, 0px -1px 0 #ededed;
}

.feedback-section h3 {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--font-size-h2);
    font-weight: var(--text-font-weight);
    line-height: 70px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.feedback-slider-container {
    overflow: hidden;
    padding-bottom: 80px;
}

.feedback-slider-buttons {
    text-align: end;
    padding-bottom: 20px;
}

.feedback-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 23.5px;
}

.feedback-slide {
    flex: 1 0 32%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 1px solid #ededed;
    gap: 10px
}

.feedback-namelocation img {
    width: 80px;
    height: 80px;
    border-radius: 51%;
}


.feedback-location,
.feedback-name {
    font-family: var(--main-font-family);
    color: var(--additional-text-color);
    font-size: var(--main-font-size);
    font-weight: var(--text-statictic-font-weight);
    line-height: 22px;
    letter-spacing: 0.1em;
}

.feedback-text {
    font-family: var(--main-font-family);
    color: var(--main-text-color);
    font-weight: var(--text-normal-font-weight);
    font-size: var(--normal-font-size);
    line-height: 22px;
}

.feedback-slider-button {
    background-color: transparent;
    font-size: var(--font-size-h2);
    color: var(--main-text-color);
    border: none;
    padding: 0px 0px 0px 20px;
    cursor: pointer;
}

.feedback-left-button {
    left: 10px;
}

.feedback-right-button {
    right: 10px;
}

.feedback-namelocation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 0px 15px 0px;
}




@media (min-width : 320px) {
    .feedback-section {
        padding-top: 40px;
    }

    .feedback-section h3 {
        font-size: var(--mobile-font-size-title);
        line-height: var(--mobile-font-height-title);
    }

    .feedback-section h2 {
        font-size: var(--mobile-font-size-title);
        line-height: var(--mobile-font-height-title);
    }

    .feedback-slider-buttons {
        padding-bottom: 10px;
    }

    .feedback-slider-container {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .feedback-slider {
        gap: 0px;
    }

    .feedback-slide {
        display: flex;
        flex: 0 0 100%;
        gap: 10px;
    }
}


@media (min-width: 768px) {
    .feedback-slider-buttons {
        padding-bottom: 10px;
    }

    .feedback-slider-container {
        padding-bottom: 60px;
    }

    .feedback-slide {
        flex: 1 0 47%;
        padding: 15px;
        gap: 8px;
    }

    .feedback-slider {
        gap: 15px;
    }

}