.feedback-section {
    background-color: var(--main-background-color);
    padding-top: 65px;
}

.feedback-section h2 {
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: var(--font-size-h2);
    font-weight: var(--text-font-weight);
    line-height: 70px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #ededed, 1px -1px 0 #ededed, -1px 1px 0 #ededed, -1px -1px 0 #ededed, 1px 0px 0 #ededed, 0px 1px 0 #ededed, -1px 0px 0 #ededed, 0px -1px 0 #ededed;
}

.feedback-section h3 {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--font-size-h2);
    font-weight: var(--text-font-weight);
    line-height: 70px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.feedback-slider-container {
    overflow: hidden;
    padding-top: 45px;
    padding-bottom: 80px;
}

.feedback-slider-buttons {
    text-align: end;
    padding-bottom: 20px;
}

.feedback-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 46px;
}

.feedback-slide {
    flex: 1 0 30%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 1px solid #ededed;
    gap: 10px
}

.feedback-namelocation img {
    width: 80px;
    height: 80px;
    border-radius: 51%;
}


.feedback-location,
.feedback-name {
    font-family: var(--main-font-family);
    color: var(--additional-text-color);
    font-size: var(--main-font-size);
    font-weight: var(--text-statictic-font-weight);
    line-height: 22px;
    letter-spacing: 2px;
}

.feedback-text {
    font-family: var(--main-font-family);
    color: var(--main-text-color);
    font-weight: var(--text-normal-font-weight);
    font-size: var(--normal-font-size);
    line-height: 18px;
}

.feedback-slider-button {
    background-color: transparent;
    font-size: var(--font-size-h2);
    color: var(--main-text-color);
    border: none;
    padding: 0px 0px 0px 20px;
    cursor: pointer;
}

.feedback-left-button {
    left: 10px;
}

.feedback-right-button {
    right: 10px;
}

.feedback-namelocation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 0px 15px 0px;
}