.footer {
    background-color: var(--main-background-color);
}

.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.footer__social {
    display: flex;
}

.footer__private {
    font-family: var(--main-font-family);
    font-weight: var(--text-statictic-font-weight);
    font-size: var(--main-font-size);
    color: var(--main-text-color);
}