.footer {
    background-color: var(--main-background-color);
}

.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.footer__social {
    display: flex;
}

.footer__private {
    font-family: var(--main-font-family);
    font-weight: var(--text-statictic-font-weight);
    font-size: var(--main-font-size);
    color: var(--main-text-color);
}

@media (min-width: 768px) {
    .footer__logo-container {
        width: 150px;
    } 
    .footer__private p {
        font-size: 14px;
    }
}


@media only screen and (min-width : 320px) and (max-width : 480px) {
    .footer__main {
        flex-direction: column;
    }

    .footer__logo-container {
        width: 150px;
    }

    .footer__private p {
        font-size: 14px;
        padding: 15px 0px 0px 0px;
    }
}