@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img { 
    display: block;
    width: 100%;
}
html {
    scroll-behavior: smooth;
}
:root{
 --main-background-color: #1c1c1c;
 --main-background: #dfa542;
 --main-text-color: #ededed; 
 --main-font-size: 18px;
 --medium-font-size: 20px;
 --mask-effect-font-size: 35px;
 --normal-font-size: 16px;
 --header-name-font-weight: 600; 
 --font-size-h1: 60px;
 --font-size-h2: 52px;
 --text-font-weight: 800;
 --text-normal-font-weight: 400;
 --text-statictic-font-weight: 700;
 --main-font-family: "Montserrat", sans-serif;

 font-style: normal;
 text-transform: none;
}


.container {
    margin: auto;
    padding: 0 4.5rem 0;
}
/* body{
    background-color: var(--background-color);


    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
} */

