.header {
    background-color: var(--main-background-color);
    position: fixed;
    inset: 0% 0% auto;
    z-index: 1;
}

.header__logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    width: 240px;
    margin: 22px 0px;
}

.header__menu {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.header__menu-link {
    font-family: var(--main-font-family);
    color: var(--main-text-color);
    font-size: var(--main-font-size);
    font-weight: var(--text-statictic-font-weight);
    text-decoration: none;
    letter-spacing: 0.1em;
}

.header__menu-link:hover {
    color: var(--main-background);
}

.header__social {
    display: flex;
}

.header__social-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header__social-link svg {
    fill: var(--main-text-color);
}

.header__social-link svg:hover {
    fill: var(--main-background);
}
.slider__content {
    position: absolute;
    top: 50%;
    left: 0; 
    transform: translateY(-50%); 
    text-align: left; 
    color: #fff; 
}

.slider__content h2 {
    font-family: var(--main-font-family);
    color: var(--main-text-color);
    font-size: var(--font-size-h1);
    font-weight: var(--text-font-weight);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.slider__content p {
    font-family: var(--main-font-family);
    color: var(--main-text-color);
    font-size: var(--main-font-size);
    font-weight: var(--text-normal-font-weight);
    letter-spacing: 0.05em;
    display: block;
}

.slider__content a {
    display: inline-block;
    background-color: var(--main-background);
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-weight: var(--text-statictic-font-weight);
    font-size: var(--normal-font-size);
    letter-spacing: 0.1em;
    text-decoration: none;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 18px 60px;
    cursor: pointer;
}
.slider__content a:hover{
    text-decoration: none;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}
