.header {
    background-color: var(--main-background-color);
    position: fixed;
    inset: 0 0 auto;
    z-index: 1;
}

.header__logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 240px;
    margin: 22px 0;
}

.header__menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
}

.header__menu-link {
    font-family: var(--main-font-family);
    color: var(--main-text-color);
    font-size: var(--main-font-size);
    font-weight: var(--text-statictic-font-weight);
    text-decoration: none;
    letter-spacing: 0.1em;
}

.header__menu-link:hover {
    color: var(--main-background);
}

.header__social-list {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-left: 220px;
}

.header__social-link svg {
    fill: var(--main-text-color);
}

.header__social-link svg:hover {
    fill: var(--main-background);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 100%;
    height: 3px;
    background-color: var(--main-text-color);
    transition: all 0.3s ease;
}

.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.header__menu.open {
    transform: translateX(0);
}

.header__social-list.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


@media (min-width : 320px) {
    .header {
        display: flex;
        flex-direction: column-reverse;
    }

    .header__logo {
        width: 150px;
    }

    .header__nav {
        gap: 20px;
    }

    .menu-toggle {
        display: flex;
        align-self: center;
    }

    .header__menu {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        background-color: var(--main-background-color);
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .header__menu-link {
        text-transform: uppercase;
    }

    .header__menu.open {
        transform: translateX(0);
    }

    .header__menu.open+.header__social-list {
        display: flex;
    }

    .header__social-list {
        gap: 20px;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: column-reverse;
    }

    .header__logo {
        width: 150px;
    }

    .header__nav {
        gap: 20px;
    }

    .menu-toggle {
        display: flex;
        align-self: center;
    }

    .header__menu {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        background-color: var(--main-background-color);
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .header__menu-link {
        text-transform: uppercase;
    }

    .header__menu.open {
        transform: translateX(0);
    }

    .header__menu.open+.header__social-list {
        display: flex;
    }

    .header__social-list {
        gap: 20px;
        margin: 0;
    }
}