.packages__info{
    background-color: var(--main-background-color);
    display: flex;
    align-items: center;
}
.packages__info-packages{
    position: absolute; 
}
.packages__info-packages-price{
    display: flex;
    align-items: center;  
    padding-top: 20px;
}
.packages__info-title{
    flex: 1 0 30%;
}
.packages__info-title h2 {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--font-size-h2);
    font-weight: var(--text-font-weight);
    line-height: 70px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.packages__info-title p {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--text-statictic-font-weight);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.packages__info-price{
    flex: 1 0 70%;  
}
.packages__info-price p {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--text-statictic-font-weight);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.packages__info-text p{
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--normal-font-size);
    font-weight: var(--text-normal-font-weight);
    line-height: 20px;
    letter-spacing: 0.05em;  
}

.packages__info-text-more p{
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--mobile-small-size);
    font-weight: var(--text-light-font-weight);
    opacity: 0.5;  
}