.packages-service {
    background-color: var(--main-background-color);
    padding-top: 40px;
    padding-bottom: 60px;
}

.packages-service h2 {
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: var(--font-size-h2);
    font-weight: var(--text-font-weight);
    line-height: 70px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #ededed, 1px -1px 0 #ededed, -1px 1px 0 #ededed, -1px -1px 0 #ededed, 1px 0px 0 #ededed, 0px 1px 0 #ededed, -1px 0px 0 #ededed, 0px -1px 0 #ededed;
}

.packages-service h3 {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--font-size-h1);
    font-weight: var(--text-font-weight);
    line-height: 70px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.packages-service__main {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;
    padding-top: 40px;
}

.packages-service-main__info {
    flex: 1 0 30%;
    border: 1px solid #ededed;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.packages-service-main__info h4 {
    font-family: var(--main-font-family);
    color: var(--main-text-color);
    font-size: var(--mask-effect-font-size);
    font-weight: var(--text-statictic-font-weight);
    line-height: 38px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.packages-service-main__info p {
    font-family: var(--main-font-family);
    color: var(--main-text-color);
    font-weight: var(--text-normal-font-weight);
    font-size: var(--normal-font-size);
    line-height: 22px;
    letter-spacing: 0.05em;
}

.packages-service__terms,
.packages-service__price {
    font-family: var(--main-font-family);
    font-weight: var(--text-font-weight);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.packages-service__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.packages-service__details a {
    border: 1px solid #ededed;
    padding: 5px 68px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--text-normal-font-weight);
    line-height: 22px;
    letter-spacing: 0.1em;
}
.packages-service__details a:hover {
    color: var(--main-background-color);
    background-color: var(--main-background);
    border: none;
    cursor: pointer;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .packages-service__main{
       display: block; 
    }
    .packages-service-main__info{
        padding: 10px;
    }
    .packages-service__details{
        gap: 5px;
    }
    .packages-service__details a{
        padding: 8px 3px;
    }
    .packages-service h3{
        font-size: var(--mobile-font-size-title);
        line-height: var(--mobile-font-height-title);
    }
    .packages-service h2{
        font-size: var(--mobile-font-size-title);
        line-height: var(--mobile-font-height-title);
    }
}