.packages__info {
    background-color: var(--main-background-color);
    display: flex;
    align-items: center;
}

.packages__info-packages {
    position: absolute;
}

.packages__info-packages-price {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.packages__info-title {
    flex: 1 0 30%;
}

.packages__info-title h2 {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--font-size-h2);
    font-weight: var(--text-font-weight);
    line-height: 70px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.packages__info-title p {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--text-statictic-font-weight);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.packages__info-price {
    flex: 1 0 70%;
}

.packages__info-price p {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--text-statictic-font-weight);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.packages__info-text p {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--normal-font-size);
    font-weight: var(--text-normal-font-weight);
    line-height: 20px;
    letter-spacing: 0.05em;
    padding: 5px 0px;
}

.packages__info-text-more p {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--mobile-small-size);
    font-weight: var(--text-light-font-weight);
    opacity: 0.5;
}

.packages__info-description {
    background-color: var(--main-background-color);
    display: flex;
    justify-content: space-between;
}

.packages__info-description-title {
    flex: 1 0 30%;
    border-right: 1px solid #ededed;
    align-content: center;
}

.packages__info-description-title h3 {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--mask-effect-font-size);
    font-weight: var(--text-statictic-font-weight);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.packages__info-description-title p {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--text-statictic-font-weight);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.packages__info-description-title a {
    display: inline-block;
    background-color: var(--main-background);
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-weight: var(--text-statictic-font-weight);
    font-size: var(--normal-font-size);
    letter-spacing: 0.1em;
    text-decoration: none;
    border-radius: 30px;
    padding: 14px 28px;
    cursor: pointer;
}

.packages__info-description-title a:hover {
    text-decoration: none;
    color: var(--main-background-color);
    background-color: var(--main-text-color);
}

.packages__info-description-more {
    display: block;
    flex: 1 0 70%;
    padding: 20px 10px 40px 40px;
}

.packages__info-description-more-lists {
    display: flex;
    gap: 15px;
}

.packages__info-description-more-listone .packages__info-description-more-listtwo {
    display: flex;
    flex: 1 0 35%;

}

.packages__info-description-more-listone ul li,
.packages__info-description-more-listtwo ul li {
    list-style: none;
    align-items: center;
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--table-small-size);
    font-weight: var(--text-normal-font-weight);
    letter-spacing: 0.05em;
}

.packages__info-description-more-listone ul li.inactive,
.packages__info-description-more-listtwo ul li.inactive {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--table-small-size);
    font-weight: var(--text-normal-font-weight);
    letter-spacing: 0.05em;
    opacity: 0.7;
    text-decoration: line-through;
}

.packages__info-description-more p {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--text-statictic-font-weight);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 20px 0px;
}


.info-project-virtual-description {
    background-color: var(--main-background);
    display: flex;
    align-items: center;
}

.info-project-virtual-title p {
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--text-statictic-font-weight);
    letter-spacing: 0.05em;
}

.info-project-virtual-title h2 {
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: var(--font-size-h2);
    font-weight: var(--text-font-weight);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.info-project-virtual-title h3 {
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: var(--mask-effect-font-size);
    font-weight: var(--text-statictic-font-weight);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@media screen and (max-width: 1600px) {
    .packages__info img {
        height: 520px;
        object-fit: cover;
        object-position: 50% 50%;
    }
}


@media screen and (max-width: 1280px) {
    .packages__info img {
        height: 520px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .packages__info-description-title {
        border-right: none;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .packages__info {
        display: flex;
        flex-direction: row;
    }

    .packages__info img {
        height: 700px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .packages__info-text p {
        font-size: var(--normal-font-size);
        letter-spacing: normal;
        line-height: normal;
        padding: 12px 0px;
    }

    .packages__info-packages-price {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .packages__info-price {
        margin-top: 20px;
    }

    .packages__info-description-more {
        padding: 0;
        padding-bottom: 40px;
    }

    .packages__info-description-more-lists {
        display: flex;
        flex-wrap: nowrap;
        gap: 0px;
    }

    .packages__info-description-more-listone,
    .packages__info-description-more-listtwo {
        flex: 1 0 50%;

    }

    .packages__info-description-more-listone ul li,
    .packages__info-description-more-listtwo ul li {
        letter-spacing: normal;
    }

    .packages__info-description-more-listone ul li.inactive,
    .packages__info-description-more-listtwo ul li.inactive {
        letter-spacing: normal;
    }

    .packages__info-description {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    .packages__info-description-title {
        border-right: none;
        display: block;
        margin: auto;
    }

    .packages__info-description-title p {
        text-align: center;
    }

    .packages__info-description-title h3 {
        font-size: var(--mobile-project-size-title);
        line-height: var(--mobile-font-height-title);
        letter-spacing: 0;
        text-align: center;
    }

    .info-project-virtual-description {
        display: block;
    }

    .info-project-virtual-title h2 {
        font-size: var(--mobile-font-size-title);
        line-height: var(--mobile-font-height-title);
    }

    .info-project-virtual-title h3 {
        font-size: var(--mobile-project-size-title);
        line-height: var(--mobile-font-size-title);
    }

    .info-project-virtual-title p {
        font-size: var(--normal-font-size);
        letter-spacing: normal;
        line-height: normal;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .packages__info {
        display: flex;
        flex-direction: column;
    }

    .packages__info img {
        height: 700px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .packages__info-text p {
        font-size: var(--normal-font-size);
        letter-spacing: normal;
        line-height: normal;
        padding: 12px 0px;
    }

    .packages__info-packages-price {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .packages__info-price {
        margin-top: 20px;
    }

    .packages__info-description-more {
        padding: 0;
        padding-bottom: 40px;
    }

    .packages__info-description-more-lists {
        display: flex;
        flex-wrap: nowrap;
        gap: 0px;
    }

    .packages__info-description-more-listone ul li,
    .packages__info-description-more-listtwo ul li {
        font-size: var(--mobile-small-size);
        letter-spacing: normal;
    }

    .packages__info-description-more-listone ul li.inactive,
    .packages__info-description-more-listtwo ul li.inactive {
        font-size: var(--mobile-small-size);
        letter-spacing: normal;
    }

    .packages__info-description {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    .packages__info-description-title {
        border-right: none;
        display: block;
        margin: auto;
    }

    .packages__info-description-title p {
        text-align: center;
    }

    .packages__info-text-more {
        display: none;
    }

    .packages__info-description-title h3 {
        font-size: var(--mobile-project-size-title);
        line-height: var(--mobile-font-height-title);
        letter-spacing: 0;
        text-align: center;
    }

    .info-project-virtual-description {
        display: block;
    }

    .info-project-virtual-title h2 {
        font-size: var(--mobile-font-size-title);
        line-height: var(--mobile-font-height-title);
    }

    .info-project-virtual-title h3 {
        font-size: var(--mobile-project-size-title);
        line-height: var(--mobile-font-size-title);
    }

    .info-project-virtual-title p {
        font-size: var(--normal-font-size);
        letter-spacing: normal;
        line-height: normal;
        padding: 0;
    }
}

@media screen and (max-width: 425px) {
    .packages__info {
        display: flex;
        flex-direction: column;
    }

    .packages__info img {
        height: 540px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .packages__info-text p {
        font-size: var(--normal-font-size);
        letter-spacing: normal;
        line-height: normal;
        padding: 12px 0px;
    }

    .packages__info-packages-price {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .packages__info-price {
        margin-top: 20px;
    }

    .packages__info-description-more {
        padding: 0;
        padding-bottom: 40px;
    }

    .packages__info-description-more-lists {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
    }

    .packages__info-description {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    .packages__info-description-title {
        border-right: none;
        display: block;
        margin: auto;
    }

    .packages__info-description-title p {
        text-align: center;
    }

    .packages__info-text-more {
        display: none;
    }

    .hide_mobile_text {
        display: none;
    }

    .packages__info-description-title h3 {
        font-size: var(--mobile-project-size-title);
        line-height: var(--mobile-font-height-title);
        letter-spacing: 0;
        text-align: center;
    }

    .info-project-virtual-description {
        display: block;
    }

    .info-project-virtual-title h2 {
        font-size: var(--mobile-font-size-title);
        line-height: var(--mobile-font-height-title);
    }

    .info-project-virtual-title h3 {
        font-size: var(--mobile-project-size-title);
        line-height: var(--mobile-font-size-title);
    }

    .info-project-virtual-title p {
        font-size: var(--normal-font-size);
        letter-spacing: normal;
        line-height: normal;
        padding: 0;
    }
}


@media screen and (max-width: 375px) {
    .packages__info {
        display: flex;
        flex-direction: column;
    }

    .packages__info img {
        height: 560px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .packages__info-text p {
        font-size: var(--normal-font-size);
        letter-spacing: normal;
        line-height: normal;
        padding: 12px 0px;
    }

    .packages__info-packages-price {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .packages__info-price {
        margin-top: 20px;
    }

    .packages__info-description-more {
        padding: 0;
        padding-bottom: 40px;
    }

    .packages__info-description-more-lists {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
    }

    .packages__info-description {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    .packages__info-description-title {
        border-right: none;
        display: block;
        margin: auto;
    }

    .packages__info-description-title p {
        text-align: center;
    }

    .packages__info-text-more {
        display: none;
    }

    .hide_mobile_text {
        display: none;
    }

    .packages__info-description-title h3 {
        font-size: var(--mobile-project-size-title);
        line-height: var(--mobile-font-height-title);
        letter-spacing: 0;
        text-align: center;
    }

    .info-project-virtual-description {
        display: block;
    }

    .info-project-virtual-title h2 {
        font-size: var(--mobile-font-size-title);
        line-height: var(--mobile-font-height-title);
        letter-spacing: normal;
    }

    .info-project-virtual-title h3 {
        font-size: var(--mobile-project-size-title);
        line-height: var(--mobile-font-size-title);
    }

    .info-project-virtual-title p {
        font-size: var(--normal-font-size);
        letter-spacing: normal;
        line-height: normal;
        padding: 0;
    }

}

@media screen and (max-width : 320px) {
    .packages__info {
        display: flex;
        flex-direction: column;
    }

    .packages__info img {
        height: 585px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .packages__info-text p {
        font-size: var(--normal-font-size);
        letter-spacing: normal;
        line-height: normal;
        padding: 6px 0px;
    }

    .packages__info-packages-price {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .packages__info-price {
        margin-top: 12px;
    }

    .packages__info-description-more {
        padding: 0;
        padding-bottom: 40px;
    }

    .packages__info-description-more-lists {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
    }

    .packages__info-description {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    .packages__info-description-title {
        border-right: none;
        display: block;
        margin: auto;
    }

    .packages__info-description-title p {
        text-align: center;
    }

    .packages__info-text-more {
        display: none;
    }

    .hide_mobile_text {
        display: none;
    }

    .packages__info-title h2 {
        letter-spacing: normal;
    }

    .packages__info-description-title h3 {
        font-size: var(--mobile-project-size-title);
        line-height: var(--mobile-font-height-title);
        letter-spacing: 0;
        text-align: center;
    }

    .info-project-virtual-description {
        display: block;
    }

    .info-project-virtual-title h2 {
        font-size: var(--mobile-font-size-title);
        line-height: var(--mobile-font-height-title);
    }

    .info-project-virtual-title h3 {
        font-size: var(--mobile-project-size-title);
        line-height: var(--mobile-font-size-title);
    }

    .info-project-virtual-title p {
        font-size: var(--normal-font-size);
        letter-spacing: normal;
        line-height: normal;
        padding: 0;
    }
}