.questions-popular {
    background-color: var(--main-background-color);
    padding-bottom: 60px;
}

.questions-popular h2 {
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: var(--font-size-h2);
    font-weight: var(--text-font-weight);
    line-height: 70px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #ededed, 1px -1px 0 #ededed, -1px 1px 0 #ededed, -1px -1px 0 #ededed, 1px 0px 0 #ededed, 0px 1px 0 #ededed, -1px 0px 0 #ededed, 0px -1px 0 #ededed;
}

.questions-popular h3 {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--font-size-h2);
    font-weight: var(--text-font-weight);
    line-height: 70px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.accordion-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-top: 30px;
}

.accordion-column {
    flex: 1 0 50%;
}

.accordion-item {
    border: 1px solid var(--main-text-color);
    overflow: hidden;
}

.accordion-header {
    padding: 15px;
    color: var(--main-text-color);
    cursor: pointer;
    position: relative;
}

.accordion-header p {
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    line-height: 22px;
    color: var(--main-text-color);
}

.accordion-header .arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--main-text-color);
    border-bottom: 2px solid var(--main-text-color);
    transition: transform 0.3s ease;
}

.accordion-header:hover .arrow {
    transform: translateY(-50%) rotate(-135deg);
}

.accordion-header.active .arrow {
    transform: translateY(-50%) rotate(45deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    background-color: var(--main-text-color);
    transition: max-height 0.3s ease;
}

.accordion-content p {
    font-family: var(--main-font-family);
    font-weight: var(--text-normal-font-weight);
    font-size: var(--normal-font-size);
    line-height: 22px;
    color: var(--main-background-color);
    margin: 15px 0;
}

@media (min-width: 768px) {
    .questions-popular{
        padding-bottom: 40px;
    } 
    .accordion-container{
        display: block;
        padding-top: 15px;
    }
    .accordion-container{
        gap: 10px;
    }
}


@media only screen and (min-width : 320px) and (max-width : 480px) {
    .accordion-container{
        display: block;
    }
    .questions-popular h3{
        font-size: var(--mobile-font-size-title);
        line-height: var(--mobile-font-height-title);
    }
    .questions-popular h2{
        font-size: var(--mobile-font-size-title);
        line-height: var(--mobile-font-height-title);
    }
    .accordion-header p{
        font-size: var(--normal-font-size);
        line-height: var(--mobile-font-height-acordion);
    }
    .questions-popular{
        padding-bottom: 40px;
    }
    
}