<section class="container project-design">
    <h2>проєкти</h2>
    <div class="project__design_main">
        <div class="project-design__info">
            <a href="../project-kv-1.html">
                <img src="../img/project-kv-1/1.jpg" alt="">
                <div class="project-design__info-mask">
                    <h4>Манхеттен</h4>
                    <p>2-кімнатна квартика 71,4 м2</p>
                </div>
            </a>
        </div>
        <div class="project-design__info">
            <a href="../project-kv-2.html">
                <img src="../img/project-kv-2/12.jpg" alt="">
                <div class="project-design__info-mask">
                    <h4>Рибальський</h4>
                    <p>1-кімнатна квартика 47 м2</p>
                </div>
            </a>
        </div>
        <div class="project-design__info">
            <a href="../project-kv-3.html">
                <img src="../img/project-kv-3/1.jpg" alt="">
                <div class="project-design__info-mask">
                    <h4>Тополіс</h4>
                    <p>1-кімнатна квартика 53,38 м2</p>
                </div>
            </a>
        </div>
        <div class="project-design__info">
            <a href="../project-kv-4.html">
                <img src="../img/project-kv-4/11.jpg" alt="">
                <div class="project-design__info-mask">
                    <h4>Софіївка</h4>
                    <p>2-кімнатна квартика 75,37 м2</p>
                </div>
            </a>
        </div>
    </div>
    <div class="project-design__more">
        <br><a href="projects.html">Переглянути більше</a>
    </div>
</section>