<section class="container questions-popular">
    <h2>популярні</h2>
    <h3>запитання</h3>
    <div class="accordion-container">
        <div class="accordion-column">
            <div class="accordion-item">
                <div class="accordion-header">
                    <p>Які переваги співпраці зі мною?</p>
                    <span class="arrow"></span>
                </div>
                <div class="accordion-content">
                    <p>Привіт! Мене звати Тоня, я дизайнер інтер’єру та архітектор.
                        Здобула освіту архітектора в НУ "Львівська політехніка".
                        Маю більше 6 років досвіду в сфері дизайну інтер’єру та ремонту.
                        За цей час я створила понад 65 дизайн-проєктів та допомогла успішно
                        реалізувати понад 40 з них.</p>
                    <p>Я створюю інтер’єри, в яких комфортно жити, працювати та будувати щасливе майбутнє.
                        Кожен інтер’єр унікальний і розробляється під Ваші потреби.</p>
                    <p>Ось декілька причин, чому варто працюівти зі мною:</p>
                    <p><strong>ДИЗАЙН В РАМКАХ БЮДЖЕТУ</strong><br>Підбираю меблі та
                        матеріали, враховуючи ваш бюджет. Зі мною ви отримаєте стильний та
                        функціональний дизайн, реалізація якого повністю відповідатиме вашим
                        фінансовим можливостям.
                    </p>
                    <p><strong>ПРОФЕСІЙНИЙ ПІДХІД</strong><br>У дизайні використовуються лише реальні,
                        доступні на ринку матеріали, меблі, освітлення та інше. Надаю повну
                        специфікацію всіх використаних позицій. Кожне рішення в проєкті
                        ґрунтується на знаннях і багаторічному досвіді.
                    </p>
                    <p><strong>УНІКАЛЬНА ПОДАЧА</strong><br>Презунтую дизайн за допомогою
                        VR360-панорам приміщень, адже саме так можна найкраще продемонструвати
                        концепцію дизайну в об’ємі, та зрозуміти, як виглядатиме простір після
                        завершення ремонту.
                    </p>
                    <p><strong>ДЕТАЛЬНІ ТЕХНІЧНІ КРЕСЛЕННЯ</strong><br>Дизайн-проект – це своєрідна
                        “інструкція” ремонту. Завдяки детальним кресленням та продуманим технічним
                        рішенням у майстрів не виникне проблем у процесі виконання робіт. В результаті
                        реалізація максимально відтворить візуалізацію.
                    </p>
                    <p><strong>ПЕРЕВІРЕНІ ПІДРЯДНИКИ</strong><br>Співпрацюю з перевіреною ремонтно-будівельною
                        бригадою, досвідченими підрядниками та надійними постачальниками, що гарантує вам якісну
                        реалізацію проекту.
                    </p>
                    <p><strong>АВТОРСЬКИЙ КОНТРОЛЬ</strong><br>Здійснюю виїзди на об’єкт на різних
                        етапах ремонту для контролю виконання робіт відповідно до проєкту.
                        Консультую майстрів та підрядників, а також ефективно вирішую будь-які проблемні
                        ситуації для забезпечення успішної реалізації проекту.
                    </p>
                    <p>Мій досвід і підхід допоможуть вам створити інтер’єр вашої мрії та зробити процес
                        ремонту максимально простим і приємним.</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <p>Навіщо потрібний дизайнер?</p>
                    <span class="arrow"></span>
                </div>
                <div class="accordion-content">
                    <p>А навіщо потрібний перукар? А навіщо потрібний механік? А навіщо потрібні будівельники?</p>
                    <p>Підстригтись можна і самостійно, полагодити автомобіль можна і самостійно, зробити ремонт раз
                        плюнути, чи ні? Тож давайте ж розбиратися.</p>
                    <p>Багато хто недооцінює роботу дизайнера і вважає її розкішшю або другорядною необхідністю, але
                        ніхто не замислюється про те, яку колосальну працю робить дизайнер.</p>
                    <p>За красивими картинками, візуалізаціями та фотографіями, ховаються найскладніші вузли, продумані
                        комунікації та детальні креслення – інструкція ремонту.</p>
                    <p>ЯКІ ПЛЮСИ РОБОТИ З ДИЗАЙНЕРОМ</p>
                    <p>1. ЕКОНОМІЯ ЧАСУ<br>
                        Ви проводите час із сім'єю або займаєтеся улюбленою справою.</p>
                    <p>2. ЕКОНОМІЯ КОШТІВ<br>
                        Працюючи з професіоналом Ви не витрачаєте гроші на переробки, а в моєму випадку ще й отримуєте
                        знижки від партнерів на всі позиції. Тому вартість проекту можна з легкістю окупити.</p>
                    <p>3.ВІЗУАЛІЗАЦІЯ ІНТЕР’ЄРУ<br>
                        Знаєте як виглядатиме Ваш інтер’єр і не хвилюєтеся чи буде красиво.</p>
                    <p>4. РЕМОНТ БЕЗ СТРЕСУ<br>
                        Ті, хто робив ремонт самостійно чи хоч раз в житті стикався з його процесами знає про що тут
                        мова.</p>
                    <p>5. РОЗУМІННЯ БЮДЖЕТУ<br>
                        Дизайнер розробляє проект орієнтуючись на Ва бюджет. Тільки по проекту будівельники зможуть
                        порахувати кошторис -де буде прорахована точна вартість ремонтних робіт.</p>
                    <p>6. РЕМОНТ НЕ БУДЕ ВІЧНИМ <br>
                        Завдяки проекту в майстрам буде зрозумілий об’єм роботи та час його виконанння.</p>
                    <p>Не маючи професійни дизайнерських навиків, неможливо врахувати всі моменти щодо функціональності,
                        ергономічності та естетики майбутнього житла, а це в майбутньому може повпливати на нестачу
                        розеток, незручні проходи, не правильне використання площі будинку і тд.</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <p>Який формат співпраці з вами краще обрати?</p>
                    <span class="arrow"></span>
                </div>
                <div class="accordion-content">
                    <p>Я раджу кожному замовляти пакет послуг PREMIUM, що включає авторський нагляд. І справа тут не в
                        тому, щоб отримати від вас більше грошей. Я як і Ви зацікавлена в ідеальній реалізації Вашого
                        житла. Автор знає свій проєкт, та знає, як посприяти цьому.</p>
                    <p>Вас неодмінно хтось вмовить відступити від проекту: це може бути менеджер магазину, якому
                        вигідніше продати вам іншу позицію, недобросовісні майстри, що прагнуть зробити “як легше” а не
                        “як потрібно” чи різні форс мажорні ситуації, які ніхто не може передбачити. Вам потрібно буде
                        примати рішення у яких ви не розбираєиесь та й часу на це не буде адже треба вирішити вже, щоб
                        не затягувати процес ремонту. В результаті ви не будете задоволені ремонтом.</p>
                    <p>Ще одним аргументом замовляти саме пакет співпраці PREMIUM є те, що я допоможу Вам замовити всі
                        оздолювальних матеріали з хорошими знижками 10-20%. Ви не тільки повернете собі вартість
                        розробки проєкту а ще й залишетесь в плюсі.</p>
                    <p>Мій досвід і підхід допоможуть Вам створити інтер’єр вашої мрії та зробити процес ремонту
                        максимально простим і приємним.</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <p>Чи надаєте знижки на матеріали?</p>
                    <span class="arrow"></span>
                </div>
                <div class="accordion-content">
                    <p>Звісно! Знижки в магазинах-партнерах доступні для всіх форматів співпраці. У мене велика база
                        партнерів, починаючи від великих мереж магазинів Агромату, Леокераміки, завершуючи співрпрацями
                        із вузькопрофільними спеціалістами.</p>
                    <p>Я допоможу Вам замовити всі оздолювальних матеріали з хорошими знижками 10-20%. Ви не тільки
                        повернете собі вартість розробки проєкту а ще й залишетесь в плюсі.</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <p>Скільки варіантів дизайну ви пропонуєте?</p>
                    <span class="arrow"></span>
                </div>
                <div class="accordion-content">
                    <p>На основі технічного завдання, затвердженого планувального рішення та референсів інтер’єрів, які
                        вам подобаються, я розробляю дизайн найбільшого приміщення (наприклад: кухня, кухня-студія,
                        вітальня). Ви маєте можливість до 4-х разів вносити корективи до запропонованого варіанту. Ми
                        працюємо з цим приміщенням до затвердження дизайну та стилістичного рішення. При розробці
                        дизайну наступних приміщень я вже зможу опиратися на затверджений варіант, відповідно коректив
                        буде менше, і робота піде швидше.</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <p>Як відбувається комунікація по проекту?</p>
                    <span class="arrow"></span>
                </div>
                <div class="accordion-content">
                    <p>На початку розробки проєкту я створюю робочий чат у зручному для вас месенджері (зазвичай це
                        група в Telegram). Тут буде відбуватися обмін інформацією та графічними матеріалами. Для
                        обговорення деталей зв’язуємось по телефону, відеозв’язку та за потреби зустрічаємось. </p>
                </div>
            </div>
        </div>
        <div class="accordion-column">
            <div class="accordion-item">
                <div class="accordion-header">
                    <p>Що таке авторський нагляд і навіщо він потрібен?</p>
                    <span class="arrow"></span>
                </div>
                <div class="accordion-content">
                    <p>Авторський контроль — комплекс робіт, що дозволить зняти з Вас додаткові клопоти пов’язані з
                        ремонтом та досягти точної реалізації інтер’єру відповідно проєкту. В результаті ремонт пройде
                        для Вас легко та без стресу.</p>
                    <p><strong>ДЛЯ ЧОГО ЦЕ ВАМ?</strong><br>Ремонт - це світ підводних каменів і найскладніше попереду!
                        Детальний дизайн-проєкт ще не гарантує якісної реалізації, навіть якщо містить всю необхідну
                        інформацію, оскільки під час
                        будівельних робіт завжди виникають непередбачувані ситуації та зміни. Без належної уваги та
                        своєчасної реакції на ті чи інші зміни в ході ремонту — це може призвести до небажаного
                        результату, перобок, переплат.</p>
                    <p><strong>ЗАВДАННЯ АВТОРСЬКОГО КОНТРОЛЮ:</strong><br>Кожен дизайн-проект — унікальний, у звʼязку з
                        чим може відрізнятись послідовність будівельних робіт, можуть виникати індивідуальні складнощі
                        та особливості реалізації. Завдання авторського контролю — уникнути критичних помилок під час
                        ремонту та, щоб реалізація відповідала
                        дизайнерському задуму та вашим очікуванням.</p>
                    <p><strong>ЩО ВХОДИТЬ В АВТОРСЬКИЙ КОНТРОЛЬ:</strong><br>ВИЇЗДИ НА ОБ'ЄКТ<br>Систематичні виїзди на
                        об'єкт з метою контролю виконаних робіт відповідно проекту та врегулювання ключових моментів на
                        кожному етапі ремонтних робіт.</p>
                    <p><strong>ДИСТАНЦІЙНИЙ КОНТРОЛЬ</strong><br>В процесі ремонту виникає багато питань, які потребують
                        оперативних рішень. Якщо такі питання можна узгодити віддалено (по телефону, відеозв’язку тощо),
                        то контролюю реалізацію проєкту дистанційно.</p>
                    <p><strong>КОНСУЛЬТАЦІЇ</strong><br>Автор найкраще знає свій проєкт. Це дозволяє оперативно надавати
                        всі необхідні консультації виконробу, замовнику або залученим фахівцям.</p>
                    <p><strong>СПІЛКУВАННЯ З ПІДРЯДНИКАМИ</strong><br>Окрім ремонтної бригади в процес ремонту
                        залучаються багато інших підрядників, нариклад фахівці з кондиціонування, виробники меблів та
                        ін.<br>Завдяки консультацї підрядників можна уникнути можливіих помилок під час реалізації та
                        забезпечити оперативний перехід між видами робіт.</p>
                    <p><strong>ВНЕСЕННЯ ЗМІН В ДИЗАЙН-ПРОЄКТ</strong><br>При виникненні форс-мажорів по ходу проведення
                        ремонтно-будівельних робіт найкраще, щоб зміни в проєкт вносив саме автор, адже тільки автор
                        зможе вписати їх в загальну концепцію інтер'єру так, щоб вона не зазнала жодних концептуальних
                        змін. Також внесені зміни важливо враховувати на наступних етапах. Я вношу корективи до робочої
                        документації, передаю інформацію будівельникам, підрядникам та контролюю результат.</p>
                    <p><strong>ЗАТВЕРДЖЕННЯ МАТЕРІАЛІВ</strong><br>Остаточний вибір деяких оздоблювальні матералів
                        потрібно здійснювати безпосередньо на об’єкті (наприклад колір стін, корпусних меблів, стінових
                        панелей та ін.), адже один і той самий колір чи матеріал у вашому приміщенні може мати інший
                        вигляд ніж у салоні чи на зразку. В рамках авторського нагляду я затверджую всі необхідні
                        оздоблювальні матеріали та слідкую, щоб всі предмети інтер'єру гармонійно поєднувалися за
                        кольорами та фактурою.
                        Якщо певну позицію в специфікації проєкту зняли з виробництва я займаюся пошуком аналога чи
                        заміни.</p>
                    <p>Досвідчений дизайнер знає багато нюансів в процесах ремонту та особливості Вашого проекту, тому
                        знатиме, на що звернути особливу увагу та наголосити майстрам.</p>
                    <p>Якщо ви хочете, щоб Ваш ремонт пройшов легко, та насолоджуватись реалізацією то дана послуга -
                        для Вас.</p>
                    <p>Примітка: дизайнер не несе відповідальність за технологію і якість робіт. За це несе
                        відповідальність виконроб або керуючий будівництвом.</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <p>Чи є у Вас офіс?</p>
                    <span class="arrow"></span>
                </div>
                <div class="accordion-content">
                    <p>Наразі робота відбувається віддалено. Але ми завжди можемо зустрітися за чашечкою кави у вашому
                        улюбленому закладі у Львові чи на об'єкті, щоб познайомитися та поспілкуватися. Якщо ви
                        знаходитесь в інших містах, можемо зв'язатися по відеозв'язку.</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <p>Коли потрібно розпочинати роботу над проектом?</p>
                    <span class="arrow"></span>
                </div>
                <div class="accordion-content">
                    <p>Я раджу звернутися до мене як мінімум за 3-4 місяці до початку ремонту. На це є три причини:<br>
                        1.Середній час на розробку дизайн-проєкту 2-3 місяці (залежить від площі об’єкту).<br>
                        2.Розраховуйте на те, що в мене на розробку дизайн-проєкту є черга (приблизно на місяць
                        вперед).<br>
                        3.Краще залишити запас часу між розробкою проєкту та початком ремонтних робіт, ніж доробляти все
                        паралельно та допустити можливість критичних помилок в ремонтних роботах.</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <p>Якщо будинок не зданий, чи можливо почати роботу?</p>
                    <span class="arrow"></span>
                </div>
                <div class="accordion-content">
                    <p>Звичайно, але мені буде необхідний доступ до об’єкту для проведення замірів, фото- та
                        відеофіксації.</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <p>Яка вартість реалізації проекту?</p>
                    <span class="arrow"></span>
                </div>
                <div class="accordion-content">
                    <p>Вартість реалізації залежить від багатьох факторів, починаючи від вартості робіт будівельників і
                        закінчуючи якістю техніки та матеріалів. Одну й ту ж візуалізацію можна реалізувати за абсолютно
                        різний бюджет, тому перед початком роботи над проєктом я проводжу передпроєктний аналіз і
                        обговорюю бюджет на реалізацію.</p>
                    <p>Щоб вам було легше орієнтуватися в ціновому сегменті:<br>
                        • Орієнтовна вартість ремонтних робіт — від 200-250 $/м².<br>
                        • Вартість повної реалізації (ремонт, техніка, меблі, декор та ін.) — від 650 $/м² і вище.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <p>Чи є у нас будівельна бригада?</p>
                    <span class="arrow"></span>
                </div>
                <div class="accordion-content">
                    <p>Я співпрацюю з перевіреними професійними будівельниками, з якими ми реалізували не один проєкт. В
                        них є можливість відвідати об'єкти, щоб оцінити якість робіт.</p>
                    <p>Крім того, я зможу порадити перевірених підрядників, меблевиків та постачальників, які нададуть
                        вам хороші знижки на свої послуги та товари.</p>
                </div>
            </div>
        </div>
    </div>
</section>