<section class="container project-design">
    <h2>проєкти</h2>
    <div class="project__design_main">
        <div class="project-design__info">
            <a href="#">
                <img src="img/img_project_index/test_one.png" alt="">
                <div class="project-design__info-mask">
                    <h4>chocolate</h4>
                    <p>Дворівнева квартика 155 м2</p>
                </div>
            </a>
        </div>
        <div class="project-design__info">
            <a href="#">
                <img src="img/img_project_index/test_one.png" alt="">
                <div class="project-design__info-mask">
                    <h4>test2</h4>
                    <p>test2</p>
                </div>
            </a>
        </div>
        <div class="project-design__info">
            <a href="#">
                <img src="img/img_project_index/test_one.png" alt="">
                <div class="project-design__info-mask">
                    <h4>test3</h4>
                    <p>test3</p>
                </div>
            </a>
        </div>
        <div class="project-design__info">
            <a href="#">
                <img src="img/img_project_index/test_one.png" alt="">
                <div class="project-design__info-mask">
                    <h4>test4</h4>
                    <p>test4</p>
                </div>
            </a>
        </div>
    </div>
    <div class="project-design__more">
        <br><a href="#">Переглянути більше</a>
    </div>
</section>