<section class="slider">
   <div class="slider__content-main">
      <div class="slide_show">
         <img class="myslider w3-animate-fading" src="../img/project-kv-1/1.jpg" alt= "Дизайн інтер'єру ЖК Манхеттен">
         <img class="myslider w3-animate-fading" src="../img/project-kv-2/12.jpg" alt= "Дизайн інтер'єру ЖК Рибальський">
         <img class="myslider w3-animate-fading" src="../img/project-kv-3/1.jpg" alt= "Дизайн інтер'єру ЖК Тополіс">
      </div>
      <div class="slider__content container">
         <h2>дизайн інтерє'ру <br><span class="animation_text">від ідеї до реалізації</span></h2><br>
         <p>Створюю інтер’єри, в яких комфортно жити, працювати та будувати щасливе майбутнє</p><br><br><br><br>
         <a href="#client-communication">зв'язатися</a>
      </div>
   </div>
</section>