<section class="container approach-work">
    <h2>мій підхід</h2>
        <h3>до роботи</h3>
            <div class="approach-work__main">
                <div class="approach-work-info">
                    <h4>дизайн в рамках бюджету</h4>
                    <p>Підбираю меблі та матеріали, враховуючи ваш бюджет. 
                       Зі мною ви отримаєте стильний та функціональний дизайн, 
                       реалізація якого повністю відповідатиме вашим фінансовим можливостям.
                    </p>
                </div>
                <div class="approach-work-info">
                    <h4>специфікація наповнення</h4>
                    <p>Надаю повну специфікацію всіх використаних позицій. 
                       Кожне рішення в проєкті ґрунтується на  знаннях і багаторічному досвіді.
                    </p>
                </div>
                <div class="approach-work-info">
                    <h4>детальні технічні креслення</h4>
                    <p>Дизайн-проект – це своєрідна “інструкція” ремонту. 
                       Завдяки детальним кресленням та продуманим технічним рішенням у майстрів не виникне проблем у процесі виконання робіт. 
                       В результаті реалізація максимально відтворить візуалізацію.
                    </p>
                </div>
                <div class="approach-work-info">
                    <h4>перевірені підрядники</h4>
                    <p>Співпрацюю з перевіреною ремонтно-будівельною бригадою, досвідченими підрядниками та 
                       надійними постачальниками, що гарантує вам якісну реалізацію проекту.
                    </p>
                </div>
                <div class="approach-work-info">
                    <h4>авторський контроль</h4>
                    <p>Здійснюю виїзди на об’єкт на різних етапах ремонту для контролю виконання робіт відповідно до проєкту. 
                       Консультую майстрів та підрядників, ефективно вирішую будь-які проблемні ситуації для забезпечення успішної реалізації проекту.
                    </p>
                </div>
                <div class="approach-work-info">
                    <h4>комплектація</h4>
                    <p>Комплекс робіт для своєчасної закупівлі оздоблювальних матеріалів та предметів 
                        інтер’єру згідно специфікації, необхідних для реалізації відповідно до дизайн-проєкту.            
                    </p>
                </div>
            </div>
</section>