<section class="container project-info">
    <div class="project__info_main">
        <div class="project-info__info">
            <a href="../project-kv-1.html">
                <img src="../img/project-kv-1/1.jpg" alt="">
                <div class="project-info__info-mask">
                    <h4>Манхеттен</h4>
                    <p>2-кімнатна квартика 71,4 м2</p>
                </div>
            </a>
        </div>
        <div class="project-info__info">
            <a href="../project-kv-2.html">
                <img src="../img/project-kv-2/12.jpg" alt="">
                <div class="project-info__info-mask">
                    <h4>Рибальський</h4>
                    <p>1-кімнатна квартика 47 м2</p>
                </div>
            </a>
        </div>
        <div class="project-info__info">
            <a href="../project-kv-3.html">
                <img src="../img/project-kv-3/1.jpg" alt="">
                <div class="project-info__info-mask">
                    <h4>Тополіс</h4>
                    <p>1-кімнатна квартика ?? м2</p>
                </div>
            </a>
        </div>
        <div class="project-info__info">
            <a href="#">
                <img src="img/img_project_index/test_one.png" alt="">
                <div class="project-info__info-mask">
                    <h4>test4</h4>
                    <p>test4</p>
                </div>
            </a>
        </div>
        <div class="project-info__info">
            <a href="#">
                <img src="img/img_project_index/test_one.png" alt="">
                <div class="project-info__info-mask">
                    <h4>test4</h4>
                    <p>test4</p>
                </div>
            </a>
        </div>
        <div class="project-info__info">
            <a href="#">
                <img src="img/img_project_index/test_one.png" alt="">
                <div class="project-info__info-mask">
                    <h4>test4</h4>
                    <p>test4</p>
                </div>
            </a>
        </div>
    </div>
    <div class="pagination">
        <button class="pagination-btn prev" disabled>&laquo;</button> 
        <div class="pages"></div>
        <button class="pagination-btn next">&raquo;</button>
    </div>
</section>